{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "arrowParens": "always",
  "endOfLine": "lf",
  "tabWidth": 2,
  "bracketSpacing": true,
  "svelteAllowShorthand": true,
  "svelteSortOrder": "options-markup-scripts-styles",
  "semi": true,
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
